.QuestionItem {
  border-bottom: 1px solid #cecece;
  padding: 20px 15px;

  em {
    background-color: #ffffcd;
    font-weight: bold;
    font-style: italic;
    padding: 0 1px;
  }

  .q-icon {
    position: absolute;
  }

  .q-content {
    padding-left: 50px;
  }

  .title {
    color: #0088cc;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.01em;
    cursor: pointer;
    text-decoration: none;
  }

  .title:hover {
    border-bottom: solid 1px #0088cc;
  }

  .main-text {
    overflow: hidden;
    margin: 5px 0 10px;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1.5;

    img, div, frame {
      max-width: 100%;
    }
  }

  .info {
    margin: 3px 0;
    color: #888;
    font-size: 6px
  }

  .info-replies, .info-likes {
    margin: 0 10px;
  }

  .info-tag {
    margin-left: 10px;
  }
}
