.Filter {
  .filter-header {
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0;
  }

  .filter-tag-label {
    display: inline-block;
    height: 36px;
    margin: 0 0 9px 9px;
    padding: 5px 10px;
    color: #666;
    font-size: 16px;
    background: rgba(255,255,255,.97);
    border: 1px solid #d6d6d6;
    border-radius: 4px;
  }

  .filter-tag-label:hover {
    cursor: pointer;
    border-color: #999;
  }
}
